
.right-area{
    display: flex;
    align-items: center;
    .btn{
        @include respond('phone'){
            padding: 0.5rem 1rem;
        }
    }
}


.feature-btn{
    width: 3rem;
    height: 3rem;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rgba-primary-1);
    margin-right: 0.625rem;
	cursor:pointer;
    &:hover{
        background-color: var(--primary);
		
        svg{
            path{
                fill: $white;
            }
        }
    }
}

.contact_list{
    .user-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.625rem;
        .user-info {
            display: inline-flex;
            align-items: center;
           
        }
        .user-details {
            .user-name{
                font-size: 1.375rem;
                font-weight: 600;
                margin-bottom: 0;
				@include custommq($max: 1350px , $min:1200px) {
					font-size: 1.2rem;
				}
                @include respond('tab-port'){
                    font-size: 1rem;
                }
                @include respond('phone'){
                    font-size: 1.2rem;
                }
            }
            .number {
                font-size: 1.125rem;
                font-weight: 400;
                color: var(--primary);
                margin-bottom: 0.625rem;
				@include custommq($max: 1350px , $min:1200px) {
					font-size: 1rem;
				}
                @include respond('tab-port'){
                    font-size: 0.875rem;
                }
            }
            span{
                display: block;
            }
        }
        .user-img{
			position:relative;
            
            &::before{
                content: '';
				display: block;
				background-color: #28BE9D;
				border: 4px solid #fff;
				position: absolute;
				bottom: 0px;
				right: 4px;
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 50%;
				z-index: 1;

            }
        }
		
		
			
		
    }
    .contact-icon {
        padding-top: 1.375rem ;
        display: inline-flex;
		.icon-box{
			cursor:pointer;
			&:hover{
				background-color:var(--primary);
				svg{
					path{
						fill:$white;
					}
				}
			}
		}
		
    }
	.icon-box.icon-box-lg{
		@include custommq($max: 1200px) {
			width:40px;
			height:40px;
			line-height:40px;
			
			svg{
				width:1rem;
				height:1rem;
			}
		}
	}
	.avtar.avtar-xxl{
		@include custommq ($max: 1200px){
			width:50px;
			height:50px;
		}
	}
	
}
.file-contact{
    display: flex;
    flex-wrap: wrap;
    .file-list {
        flex: 0 0 50%;
    }
    .contact_list {
        width: 100%;
    }
    &.grid{
       
        .file-list {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 0 15px;
            margin-bottom: 0px;
            box-sizing: border-box;
        }
    }
}