:root{
	/* --nav-headbg: #D5DFE7;
	--sidebar-bg: #E6EBEE;
	--headerbg: #E6EBEE; */
	
	/*   --nav-headbg: #252289;
	--sidebar-bg: #252289;
	--headerbg: #F3F8FE;  */
	
	 --nav-headbg: #ffffff;
	--sidebar-bg: #FFFFFF;
	--headerbg: #F3F8FE;

}

//background for nav header
@each $name, $color in $theme_backgrounds {
	[data-nav-headerbg="#{$name}"][data-theme-version="dark"],
    [data-nav-headerbg="#{$name}"] {
        @if $name != "color_1"  {
			--nav-headbg: #{$color};
			.nav-header{
				.brand-logo{
					.logo-abbr{
						path{
							fill:$white;
						}
					}
					.brand-title{
						svg{
							path{
								fill:$white;
							}
						}
						h1{
							color:$white;
						}
					}
					
				}
				.hamburger .line{
					background:$black;
				}
			}
			
		}
	}
}
//background for nav header
@each $name, $color in $theme_backgrounds {
	[data-sidebarbg="#{$name}"][data-theme-version="dark"],
    [data-sidebarbg="#{$name}"] {
        @if $name != "color_1"  {
			--sidebar-bg: #{$color};
			
			// @if $name != ("color_2" , "color_11" , "color_7") {
			// 	&[data-theme-version="dark"]{
			// 		#main-wrapper{
			// 			background: darken($color: $color, $amount: 15%);
			// 		}
			// 		.card{
			// 			background: lighten($color: $color, $amount: 2%);
			// 		}
			// 	}
			// }
			
			.deznav{
				border-color:$color;		
				.menu-tabs{
					.nav-item{
						.nav-link{
							svg{
								path{
									fill:rgba(255,255,255,0.9);
								}
							}
							
						}
					}
				}
				
			}
			
			
			.fixed-content-box .fixed-content-body .tab-nav-menu li a{
				color:rgba(255,255,255,0.8);
			}
			.support-box{
				//background-color:#5350C3;
				background-color:darken($color: $color, $amount: 2%);
			}
			.support-box .support-info .info-content{
				color: rgba(255,255,255,.7);
			}
			.dz-progress-bx .progress{
				background-color:rgba(255,255,255,.2);
			}
			.dz-progress-bx .progress-bar-content{
				border-color: lighten($color: $color, $amount: 20%);
			}
			.deznav .metismenu > li > a svg{
				path{
					fill:$white!important;
					stroke:$white!important;
				}
			}
			
			
			.dz-progress-bx{
				.progress-bar{
					background-color:$white!important;
				}
			}
			.dz-dark-mode .label{
				background-color: lighten($color: $color, $amount: 35%);
			}
			.dz-dark-mode .label .ball{
				background-color:darken($color: $color, $amount: 10%);
			}
			.dz-dark-mode .dz-dark{
				color:darken($color: $color, $amount: 10%);
			}
			.dz-dark-mode .checkbox:checked + label .dz-dark{
				color:#fff;
			}
			.dz-dark-mode .checkbox:checked + label .dz-light{
				color:darken($color: $color, $amount: 10%);
			}
			
			.fixed-content-box{
				border:none;
			}
			
			.deznav .metismenu > li:after{
				background:$white!important;
			}
			.menu-toggle .deznav .metismenu li > ul{
				background:$color!important;
			}
			.deznav .metismenu ul a:before{
				background:rgba($white,0.5);
			}
			.deznav .header-info2{
				border-color:rgba($white,0.2)!important;		
			}
			
			&[data-sidebar-style="full"][data-layout="vertical"]{
				.deznav {
					.metismenu{
						&>li{
							&.mm-active{
								&>a{
									i{
										color:$white;
									}
									
								}
							}
						}				
					} 
				}
			}
			&[data-sidebar-style="mini"],
			&[data-sidebar-style="modern"],
			/* &[data-sidebar-style="compact"], */
			&[data-sidebar-style="icon-hover"][data-layout="horizontal"],
			&[data-sidebar-style="full"][data-layout="horizontal"]
			{
				.deznav{
					.metismenu li ul{
						background-color: lighten($color: $color, $amount: 10%);
					}
				} 
				.deznav .metismenu > li.mm-active > a,
				.deznav .metismenu > li:hover > a{
						background:rgba($white,0.15)!important;
				}
			}
			/* &[data-sidebar-style="full"][data-layout="vertical"]{
				.deznav .metismenu > li.mm-active > a,
				.deznav .metismenu > li:hover > a{
						background:transparent;
				}	
			} */
			&[data-sidebar-style="compact"][data-layout="vertical"]{
				.deznav {
					.metismenu {
						&>li {
							a{
								&:hover{
									color:$white;
								}
								.menu-icon{
										background-color:lighten($color: $color, $amount: 10%);
								}
							}
							&>a{
								&>i{
									background: lighten($color: $color, $amount: 3%)!important;
									color:rgba($white,0.7);
								}
							}
							&.mm-active,&:hover{
								&>a {
									box-shadow:none;
									background:transparent!important;
									color:$white!important;
									i{
										background: lighten($color: $color, $amount: 10%)!important;
										color:$white!important;
									}
									.menu-icon{
										background-color:lighten($color: $color, $amount: 10%);
									}
								}
							}
						}
					}
				}
			}
			.deznav {
				.metismenu{
					a{
						color:rgba($white,0.8);
					}
					li{
						ul{
							a{
								&:hover,
								&:focus,
								&.mm-active {
									//color:$white;
								}
							}
							
						}
					}
					&>li{
						&>a{
							color:rgba($white,0.85)!important;
							i{
								color:rgba($white,0.85)!important;
							}
						}
						&.mm-active{
							&>a{
								background:rgba($white,0.15)!important;
								color:$white!important;
								i{
									color:$white!important;
								}
								&:before{
									background:$white!important;
									}
							}
						}
					}
					.has-arrow:after{
						border-color: rgba($white,0.85) transparent transparent rgba($white,0.85)!important;
					}					
				} 
				.header-info2 span{
					color: $white;
				}
				.sidebar-info{
					color: $white; 
					i{
						color: $white; 		
					}
				}
			}
			.plus-box{
				background-color: lighten($color: $color, $amount: 10%);
			}
			.copyright{
				color:$white;
			}
			.head-name,
			.nav-label{
				color:$white!important;
			}
			.progress-bar-content{
				h6{
					color:$white;
				}
			}
			.info-content{
				color:rgba(255,255,255,0.7);
			}
			
		}
	}
}

//background for nav header
@each $name, $color in $theme_backgrounds {
	[data-headerbg="#{$name}"][data-theme-version="dark"],
    [data-headerbg="#{$name}"] {
        @if $name != "color_1"  {
			--headerbg: #{$color};
				.header.is-fixed{
					border-color:lighten($color: $color, $amount: 10%)!important;
				}
				.header{
					border:0;
				}
				.header-left{
					.header-title{
						h3{
							color:$white;
						
						}
						
					}
					
				}
				.hamburger svg{
					rect{
						fill:$white;
					}
				}
				.header{
					background-color: $color;
				}
				.menu-tabs{
					.nav-link{
						&.active{
							background-color: lighten($color: $color, $amount: 10%)!important;
						}
					}
					
				}
				
				.header-right{
					.search-area{
						border-color:lighten($color: $color, $amount: 10%)!important;
						.form-control,
						.input-group-text{
							background: lighten($color: $color, $amount: 10%)!important;
							color:$white;
							svg{
								path{
									fill:$white;
								}
							}
						}
						.form-control::placeholder{
							color:$white;
						}
					}
					.notification_dropdown{
						.nav-link{
							background-color: lighten($color: $color, $amount: 10%);
							border-color: lighten($color: $color, $amount: 10%);
							svg{
								path{
									fill:$white;
								}
							}
							i{
								color:$white;
							}
							&:before{
								background-color:$white;
							}
						}
					}
					.search-coundry{
						background-color: lighten($color: $color, $amount: 10%);
						border-color: lighten($color: $color, $amount: 10%);
						.default-select.dashboard-select{
							background-color: lighten($color: $color, $amount: 10%);
							color:$white;
						}
						.default-select .dropdown-toggle::after{
							border-color:$white;
						}
					}
				
					.header-profile2{
						.dropdown-menu{
							a{
								span{
									color:$black;
								}
							}
						}
					}
					.sidebar-info h4, .sidebar-info .h4,
					.header-profile2 span{
						color:$white;
				
					}
					.bootstrap-select .btn{
						background-color:lighten($color: $color, $amount: 10%)!important;
						
					}
					.bootstrap-select.countrypicker{
						border-color:lighten($color: $color, $amount: 10%)!important;
					}
					.bootstrap-select .btn{
						color:$white!important;	
						border-color:lighten($color: $color, $amount: 10%)!important;
					}
					
					
				}
				
				
			
			.hamburger .line{
				background:$white!important;
			}
		}
	}
}